@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

body {
  background-image: url('https://wallpapercave.com/wp/wp2300429.jpg');
  background-size: 115%;
  color: black;
  font-style: italic;
  font-family: monospace;
  font-size: x-large;
  text-align: center;
  /* background-repeat: repeat-x;
  animation: animatedBackground 3s linear infinite alternate; */
}

#top {
  text-decoration: underline;
  background: rgba(76, 175, 80, 0.45);
}

label {
  background: rgba(76, 175, 80, 0.45);
}
input {
  text-align: center;
}

#submit {
  margin-top: 1%;
}

#userError, #apiErrors, .conversion {
  display: none;
  color: black;
  background: rgba(76, 175, 80, 0.45);
}

#reset {
  display: none;
}

a {
  color: black;
  background: rgba(76, 175, 80, 0.4);
}

a:hover {
  color: white;
}