body {
  background-image: url('https://images.unsplash.com/photo-1580519542036-c47de6196ba5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

h1 {
  text-decoration: underline;
}

input {
  text-align: center;
}

#userError, #apiErrors, #conversion {
  display: none;
} 